@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    color: black;
  }

  img {
    width: 100%;
  }

  .section {
    @apply container mx-auto py-[8rem] px-6 min-h-screen;
  }
}
